@import "globals";

article.news {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  height: 350px;

  div.news-content {
    padding: 0 20px 20px;
  }

  div.news-header {
    img.image {
      max-width: 100%;
    }

    h1 {
      font-family: Verdana, sans-serif;
      text-align: center;
      padding: .5em;
      flex-basis: calc(100% - 1em);
    }
  }

  div.news-footer {
    position: absolute;
    margin: 10px;
    bottom: 0px;

    span.read-more {
      float: left;
      color: #0e6dcd;
      cursor: pointer;
      margin-right: 65px;
      font-size: 14px;
    }

    span.published-at {
      right: 0px;
      float: right;
      margin-top: 3px;
      font-size: 11px;
      font-family: monospace;
    }
  }
}